# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.fvm/

# IDE
.idea/
.vscode/
*.iml
*.iws

# Android
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/app/upload-keystore.jks
android/app/google-services.json

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
**/GoogleService-Info.plist

# Firebase
lib/firebase_options.dart.local

# OS junk
.DS_Store
Thumbs.db
